*~
*.elc

secrets.*
ReadMe.el
abbrev_defs
ac-comphist.dat
bookmarks
custom.el
elpa/*
elpa_orig/*
eshell/*
ido.last
lisp/*
myinit.el
network-security.data
orig_init.el
projectile-bookmarks.eld
projectile.cache
session*
transient/*

.lsp-session-v1
.org-id-locations
history
myinit.html

org-roam.db
recentf
smex-items
