*~
*.elc
.python-environments/*
abbrev_defs
ac-comphist.dat
bookmarks
custom.el
elpa/*
elpa_orig/*
eshell/*
ido.last
lisp/*
myinit.el
network-security.data
orig_init.el
projectile-bookmarks.eld
projectile.cache
session*
session.10f06e7974f80e9f5150186977687597800000018440037
snippets/*
transient/*

